{# Exclude machines where virt tests are unsupported #}
{% if ARCH == "aarch64" or ARCH == "x86_64" %}
  <cpu_count op="&gt;" value="8"/>
{% endif %}
{% if ARCH == "ppc64le" %}
  <cpu_count op="&gt;" value="16"/>
{% endif %}
