<or>
  <hostname op="=" value="hpe-sl2x160zg6-02.hpe2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="hpe-bl280cg6-01.hpe2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="hpe-bl490cg6-01.hpe2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="hp-z240-01.ml3.eng.bos.redhat.com"/>
  <hostname op="=" value="hpe-dl320egen8-02.hpe2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="hpe-dl120gen9-02.hpe2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="ibm-x3250m4-14.rhts.eng.bos.redhat.com"/>
  <hostname op="=" value="hpe-xl220agen8v2-02.hpe2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="pogo-cn1100-01.lab2.eng.bos.redhat.com"/>
  <hostname op="=" value="hpe-xw9400-02.hpe2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-pem605-01.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="hpe-sl4545g7-01.hpe2.lab.eng.bos.redhat.com"/>
</or>
