{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.9"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=true) }}
{% endset %}
{% set repos %}
  <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/os"/>
  <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/optional/os"/>
  <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/debug"/>
  <repo name="pulp_3" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/rt/os/"/>
{% endset %}
{{- common.job(distro_requires=distro_requires, repos=repos, ks_append=ks_append) -}}
