{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.8"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
{% endset %}
{% set repos %}
    {% if ARCH == "x86_64" %}
      <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/os"/>
      <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/optional/os"/>
      <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/debug"/>
    {% endif %}
    {% if ARCH == "s390x" %}
      <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/system-z/7/7Server/s390x/os"/>
      <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/system-z/7/7Server/s390x/optional/os"/>
      <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/system-z/7/7Server/s390x/debug"/>
    {% endif %}
    {% if ARCH == "ppc64le" %}
      <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/power-le/7/7Server/ppc64le/os"/>
      <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/power-le/7/7Server/ppc64le/optional/os"/>
      <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/power-le/7/7Server/ppc64le/debug"/>
    {% endif %}
    {% if ARCH == "ppc64" %}
      <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/power/7/7Server/ppc64/os"/>
      <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/power/7/7Server/ppc64/optional/os"/>
      <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/power/7/7Server/ppc64/debug"/>
    {% endif %}
{% endset %}
{{- common.job(distro_requires=distro_requires, repos=repos, ks_append=ks_append,
               kcov_rhel_xy="78") -}}
