{% if ARCH == "aarch64" %}
  <not>
    <or>
      <hostname op="like" value="apm-mustang%"/>
    </or>
  </not>
{% endif %}
{% if ARCH == "x86_64" %}
  <not>
    <or>
      <hostname op="like" value="nec-em16%"/>
    </or>
  </not>
{% endif %}
{% if ARCH == "ppc64le" %}
  <not>
    <or>
      <hostname op="like" value="ibm-p8-garrison%"/>
    </or>
  </not>
{% endif %}
