{% include "host_types/normal.host_requires.xml.j2" %}
{% if ARCH == "x86_64" %}
  <key_value key='CPUVENDOR' op='=' value='AuthenticAMD'/>
  <key_value key='HVM' op='=' value='1'/>
  <key_value key='CPUFAMILY' op='>' value='22'/>
{% endif %}
