{# Exclude hosts exclusive to RDMA, Storage, and Hardwre Enablement Tests #}
<not>
  <or>
    <pool op="=" value="RDMA Machines in Westford Cluster"/>
    <pool op="=" value="wdat-cki"/>
    <hostname op="=" value="gatto-1.tpb.lab.eng.brq.redhat.com"/>
    <hostname op="=" value="gatto-2.tpb.lab.eng.brq.redhat.com"/>
  </or>
</not>
